name: CI

on:
  pull_request:
    branches:
      - 'main'
  push:
    branches: [ main ]
  schedule:
    - cron: '0 7 * * 6'

jobs:
  test_latest:
    runs-on: ubuntu-latest
    container:
      image: crystallang/crystal:latest-alpine
    steps:
      - uses: actions/checkout@v5
      - name: Install Dependencies
        run: shards install
      - name: Lint
        run: crystal tool format --check
      - name: Specs
        run: crystal spec --verbose
